.investment-charts-container {
    display: block;
    text-align: center;
    max-width: 800px;
    margin: 30px auto 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.investment-charts-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.chart {
    flex: 1;
    min-width: 300px;
    max-width: 45%;
    box-sizing: border-box;
}

.chart canvas {
    width: 100% !important;
    height: auto !important;
    max-height: 400px;
}

.chart-legend {
    text-align: right;
}

.chart h3 {
    text-align: center;
    margin-bottom: 10px;
}

canvas {
    max-width: 100%;
    height: auto !important;
}
