/* DashboardPage.css */
.dashboard-page {
    position: relative;
}

.header {
    display: flex;
    flex-direction: column; /* Alinha o menu e o toggle verticalmente */
    align-items: flex-end; /* Alinha os itens ao final do eixo horizontal */
    gap: 1px; /* Espaço entre o menu e o toggle */
    position: relative; /* Permite que o menu e o toggle sejam posicionados dentro desta área */
}

.main-content {
    margin-top: 0px; /* Ajuste conforme necessário para evitar sobreposição com o header */
}
