/* DashboardPage.css */

.dashboard-page {
    position: relative;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column; /* Alinha o menu e o toggle verticalmente */
    align-items: flex-end; /* Alinha os itens ao final do eixo horizontal */
    gap: 10px; /* Espaço entre o menu e o toggle */
    position: absolute; /* Para garantir que esteja posicionado corretamente no canto superior direito */
    top: 20px;
    right: 20px;
}

.main-content {
    margin-top: 60px; /* Ajuste conforme necessário para evitar sobreposição com o header */
}

h1 {
    color: black;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
